@import 'mixins';
@import 'fonts';
@import 'icons';

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1552;
$md1: $maxWidthContainer + 30;
$md2: 991.98;
$md3: 767.98;
$md4: 575.98;

$fontFamily: 'Montserrat', sans-serif;

@import 'null';

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: ($md1 + px)) {
        max-width: none;
        margin: 0 15px;
    }
}
body.lock {
    overflow: hidden !important;
}
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease 0s;
    z-index: 0;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

@import './sections/header';
@import './sections/intro';
@import './sections/new-buildings';
@import './sections/about';
@import './sections/footer';
