.footer {
    padding: 33px 0 20px 0;
    background: #e3e3e3 url('../img/bg-4.png');
    &__container {
        display: flex;
        align-items: center;
        gap: 180px;
    }
    &__nav {
        display: flex;
        gap: 80px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &-item {
            font-size: 13px;
            line-height: 100%;
        }
        &-link {
            color: black;
        }
    }
    &__link {
        margin-top: 20px;
        text-align: center;
        a {
            font-size: 13px;
            line-height: 100%;
            color: black;
        }
    }
}
