.footer {
    padding: 33px 0 20px 0;
    background: #e3e3e3 url('../img/bg-4.png');
    background-size: cover;
    &__container {
        display: flex;
        align-items: center;
        gap: 180px;
        @media (max-width: 1570px) {
            gap: 80px;
        }
        @media (max-width: 1300px) {
            gap: 40px;
        }
        @media (max-width: 520px) {
            flex-direction: column;
        }
    }
    &__nav {
        display: flex;
        gap: 80px;
        @media (max-width: 1300px) {
            gap: 40px;
        }
        @media (max-width: 730px) {
            gap: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 420px) {
            grid-template-columns: 1fr;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &-item {
            font-size: 13px;
            line-height: 100%;
        }
        &-link {
            color: black;
        }
    }
    &__link {
        margin-top: 20px;
        text-align: center;
        a {
            font-size: 13px;
            line-height: 100%;
            color: black;
        }
    }
}
