.header {
    padding-top: 67px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    &__container {
        display: flex;
        justify-content: flex-end;
    }
    &__block {
        display: flex;
        gap: 38px;
        align-items: center;
    }
    &__tel {
        font-family: 'Belarus-Regular', sans-serif;
        font-size: 26px;
        color: #000000;
    }
    &__btn {
        font-family: 'Belarus-Regular', sans-serif;
        font-size: 22px;
        color: #000000;
        padding: 4px;
        background-color: #9f9f9f;
        position: relative;
        span {
            display: block;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 2px;
            padding: 8px 24px 8px 24px;
        }
        &:after {
            position: absolute;
            bottom: -17px;
            z-index: -1;
            left: -2px;
            content: url('../img/bg-5.png');
        }
    }
    &__logo {
        width: 71px;
    }
    &__flex {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
    }
    &__nav {
        display: flex;
        flex-wrap: wrap;
        &-item {
            position: relative;
            cursor: pointer;
            padding: 9px 22px 0 16px;
            transition: 0.2s;
            ul {
                transition: 0.2s;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                width: max-content;
                background-color: rgba(65, 87, 72, 1);
                padding: 25px 11px 15px 15px;
                display: flex;
                flex-direction: column;
                gap: 13px;
                left: 0;
                z-index: 3;
                li a {
                    color: white;
                }
            }
            &:hover {
                background-color: rgba(65, 87, 72, 1);
                color: white;
                ul {
                    opacity: 1;
                    visibility: visible;
                }
                & > .triangle {
                    border-top: 6px solid white;
                }
            }
        }
        &-link,
        &-item {
            font-family: 'Belarus-Regular', sans-serif;
            font-size: 26px;
            line-height: 26px;
            color: #000000;
            transition: 0.2s;
            &:hover {
                a {
                    color: white;
                }
            }
        }
    }
    &__address {
        font-size: 12px;
        line-height: 12px;
        color: white;
        display: flex;
        align-items: center;
        gap: 8px;
        &:before {
            content: url('../img/icon-4.png');
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        gap: 20px;
        button {
            background-color: transparent;
        }
    }
}
.triangle {
    transition: 0.2s;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    position: absolute;
    right: 4px;
    top: 50%;
}
